# 1. Set directory

In [194]:
# Check directory
import os
print(os.getcwd())

/Users/linhdo/Downloads

In [196]:
# Set the directory you want to change to
os.chdir('/Users/linhdo/Downloads')
print(os.getcwd())

/Users/linhdo/Downloads

## 2. Import File and connect to SQL Server

In [198]:
# import file
import pandas as pd
df = pd.read_csv('netflix_titles.csv')

In [200]:
# Connect to my SQL Server
import sqlalchemy as sal
engine = sal.create_engine('postgresql://postgres:Linh2002@localhost:5432/postgres')
conn = engine.connect()

In [202]:
# Load data to SQL Server
df.to_sql('netflix_raw', con = conn, index = False, if_exists = 'replace')
conn.close()

In [152]:
# Check if the table has enough row
len(df)

8807

In [156]:
# Check the title of show_id 5023
df[df.show_id=='s5023']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5022,s5023,Movie,반드시 잡는다,Hong-seon Kim,Baek Yoon-sik,South Korea,"February 28, 2018",2017,TV-MA,110 min,"Dramas, International Movies, Thrillers",After people in his town start turning up dead...

In [158]:
max(df.show_id.str.len())

5

In [162]:
max(df.type.str.len())

7

In [166]:
max(df.title.str.len())

104

In [168]:
max(df.director.str.len())

208.0

In [172]:
max(df.cast.dropna().str.len())

771

In [174]:
max(df.country.dropna().str.len())

123

In [176]:
max(df.date_added.dropna().str.len())

19

In [184]:
max(df.rating.dropna().str.len())

8

In [188]:
max(df.duration.dropna().str.len())

10

In [190]:
max(df.listed_in.dropna().str.len())

79

In [192]:
max(df.description.dropna().str.len())

248

# 3. After we drop the old table and create new table in SQL, import File and connect to SQL Server again:

In [ ]:
# import file
import pandas as pd
df = pd.read_csv('netflix_titles.csv')

In [ ]:
# Connect to my SQL Server
import sqlalchemy as sal
engine = sal.create_engine('postgresql://postgres:Linh2002@localhost:5432/postgres')
conn = engine.connect()

In [206]:
# Load data to SQL Server, note that now we use append
df.to_sql('netflix_raw', con = conn, index = False, if_exists = 'append')
conn.close()

ResourceClosedError: This Connection is closed

In [208]:
len(df)

8807